.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    background-image: linear-gradient(
        0deg,
        var(--overlay),
        var(--overlay)
    )
    ,url("../../images/bck.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.hero h2{
    color: var(--color-claro);
}
.contenido-centrado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

#cita {
    font-size: var(--fs-xl);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
#autor {
    width: 100%;
    font-size: var(--fs-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: var(--cursiva-fuentes);
}
.categorias-opciones{
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
}
.categorias-opciones::-webkit-scrollbar{
    display: none;
}
.categoria-img img{
    height: 70px;
    width: 70px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.categoria-img:hover {
    transform: translateY(-5px);
}
.contenedor-libro{
    margin-bottom: 30px;
}
@media (min-width: 810px){
    #cita{
        font-size: var(--fs-2xl);
    }
    #autor{
        font-size: var(--fs-xl);
    }
    .categorias-opciones{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    }
}