/**Caracteristicas*/
.caracteristicas{
    margin: 30px 0;
    padding: 70px 0;
}
.caracteristicas li{
    font-weight: bold;
}
.caracteristicas ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.direccion{
    display: none;
}
.google-map{
    width:600px;
    height:450px;
    border:0;
}


/**DESKTOP*/
@media (min-width: 850px){
    .libros-destacados .container{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item{
        padding: 20px 70px;
    }
    .caracteristicas .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax());
    gap: clamp(10px, 2vw, 20px);
    justify-content: space-around;
    padding: 0 10px;
    }
    .direccion{
    display: block;
    }
}